body {
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Outfit', sans-serif;
}